<html>
<h2>Please input username and password</h2>
</br>
<form method="post" action="/login">
    <input id="username" name="username" type="text" autocomplete="username" required /></br>
    <input id="current-password" name="password" type="password" autocomplete="current-password" required /></br>
<input type="submit" value="Login" />
</form>
</html>