<html>
    <body>
        <form method="post" action="/logout">
        <h2>hello <%= data%> thanks for shopping</h2>
        <a href="welcome">shop more</a>
        <input type="submit" value="logout"/>
        </form>
    </body>
</html>
